<?xml version="1.0" encoding="UTF-8"?>
<!-- https://phpunit.readthedocs.io/en/latest/configuration.html -->
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/10.0/phpunit.xsd"
         backupGlobals="false"
         colors="true"
         bootstrap="tests/bootstrap.php"
         resolveDependencies="true"
         cacheDirectory=".phpunit.cache"
>
    <php>
        <ini name="display_errors" value="1"/>
        <ini name="error_reporting" value="-1"/>
        <server name="SHELL_VERBOSITY" value="-1"/>
        <env name="CLIENT_ID" value="SWIAV3ZRRDLJZXVLU3N1N3ZVTG" />
        <env name="CLIENT_SECRET" value="eWd3Qnc1R0U3ZmFjUDFUaER0UmpmQ01FY1JCT3JzS3hvUHNyN0w" />
        <env name="API_URL" value="https://127.0.0.1:8000" />
    </php>
    <testsuites>
        <testsuite name="Unit">
            <directory>tests/Unit</directory>
        </testsuite>
        <testsuite name="Api">
            <directory>tests/Api</directory>
        </testsuite>
    </testsuites>
    <coverage>
        <include>
            <directory suffix=".php">src</directory>
        </include>
        <exclude>
        </exclude>
    </coverage>
</phpunit>
